<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- OutOfProcess is REQUIRED on SmarterASP.NET: several .NET Core apps share one app pool -->
      <aspNetCore processPath="dotnet" arguments=".\ReefGroup.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
    </system.webServer>
  </location>
  <!-- Serve /.well-known statically (Let's Encrypt HTTP validation) without the app redirecting it to HTTPS -->
  <location path=".well-known">
    <system.webServer>
      <handlers>
        <clear />
        <add name="StaticFileWellKnown" path="*" verb="GET,HEAD" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
      </handlers>
      <staticContent>
        <mimeMap fileExtension="." mimeType="text/plain" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
